
<div class="center jumbotron">
  <h3>Welcome to the TMSports</h3>

  <h4>
    This is your shoponline!
    
  </h4>
  <%= link_to "Login", 'sessions#create', class: "btn btn-lg btn-primary" %>
  <%= link_to "Signup", 'users#new', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>




 